:root {
  --header-font-color: #151515;
  --main-font-color: #686868;
}

/* Typography */
h1 {
  color: var(--header-font-color);
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: -0.0313rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

p {
  color: var(--main-font-color);
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
}

/* Global styling */
html,
body {
  font-family: "Epilogue", "San-serif";
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Mobile view */
/* Header */
header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

/* Main */
/*Making background image responsive inside empty div */
.overlay-active {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
}

.background-image {
  background-image: url(/images/image-hero-mobile.png);
  background-size: 100%;
  width: 100%;
  padding-top: 75.2%;
  height: 0;
}

.text {
  text-align: center;
  padding: 1rem;
}

.info {
  display: inline-block;
  padding: 0.75rem 1.375rem;
  background-color: var(--header-font-color);
  color: #fafafa;
  border-radius: 0.9375rem;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

/* Footer icons */
.logos {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.column {
  padding: 0.3125rem;
}

li {
  list-style: none;
}

/* Menu */
/* Removing desktop view menu from mobile view */
.features-tabs-drop,
.company-tabs-drop {
  display: none;
}

/* Mobile view menu */
.menu {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  width: 64%;
  display: none;
}

.menu-active {
  display: block;
}

.close {
  position: absolute;
  right: 0;
  padding: 1.25rem;
}

/* Menu tabs*/
nav {
  padding-top: 4.375rem;
}

.menu a {
  text-decoration: none;
  color: #686868;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
}

li {
  padding-bottom: 1rem;
}

/* Menu links */
.features > a,
.company > a {
  display: inline-block;
  padding-bottom: 1.5rem;
}

/* Aligning features tabs icons and links */
.features-tabs li {
  display: flex;
  gap: 15px;
}

/* Correcting features icons */
ul img {
  align-self: center;
}

/* Spacing */
.features div,
.company div {
  display: flex;
  gap: 1rem;
  padding-bottom: 1;
}

/* Extra spacing between Features tab and first child and Company tab and first child in active state */
.features-tabs li:nth-child(1),
.company-tabs li:nth-child(1) {
  padding-top: 1.5rem;
}

/* Smooth opening and closing Features and Company tabs */
.features-tabs,
.company-tabs {
  overflow-y: hidden;
  max-height: 0;
  transition: all 0.5s ease-in-out;
}

.features-tabs-open {
  overflow-y: hidden;
  max-height: 12rem;
  transition: all 0.5s ease-in-out;
}

.company-tabs-open {
  overflow-y: hidden;
  max-height: 9.375rem;
  transition: all 0.5s ease-in-out;
}

/* Rotating arrows when opening and closing Features and Company tabs */
.arrow-features,
.arrow-company {
  transform: rotate(0);
  transition: all 0.5s ease-in-out;
}

.arrow-features-active,
.arrow-company-active {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out;
}

/* Styling login and register buttons */
.form {
  text-align: center;
  padding-bottom: 1rem;
}

.login {
  display: block;
  padding-bottom: 1rem;
}

.register {
  padding: 0.8125rem 2.625rem;
  border: 1px solid #686868;
  border-radius: 0.9375rem;
}

/* Making mobile view menu smaller for tablets */
@media (min-width: 550px) {
  .menu {
    width: 40%;
    height: 100%;
  }
}

/* Desktop view */
@media (min-width: 1080px) {
  /* Global styling */
  body {
    overflow-x: hidden;
  }

  header {
    padding: 2.5rem 2rem 6.5625rem 2rem;
  }

  /* Removing overlay in case of resizing after opening menu in mobile view */
  .overlay {
    display: none;
  }

  /* Typography */
  h1 {
    font-size: 5rem;
    line-height: 5rem;
    letter-spacing: -0.0694rem;
    text-align: left;
    max-width: 33.75rem;
  }

  p {
    text-align: left;
  }

  /* Desktop dropdown menu */
  .features-tabs-drop {
    overflow-y: hidden;
    height: 0;
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 3.4375rem;
    left: 8.9063rem;
    transition: all 0.5s ease-in-out;
    box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.149126);
    border-radius: 0.625rem;
  }
  .features-tabs-drop-active {
    height: 10.625rem;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
    padding: 1.5rem;
  }

  .company-tabs-drop {
    overflow-y: hidden;
    height: 0;
    position: absolute;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    z-index: 100;
    top: 3.4375rem;
    left: 20.625rem;
    transition: all 0.5s ease-in-out;
    padding-left: 0;
    box-shadow: 0 0.625rem 2.5rem rgba(0, 0, 0, 0.149126);
    border-radius: 0.625rem;
  }
  .features-tabs-drop li:last-child {
    padding-bottom: 0;
  }
  .company-tabs-drop-active {
    height: 8rem;
    overflow-y: hidden;
    transition: all 0.5s ease-in-out;
    padding: 1.5rem;
  }

  .features-tabs-drop,
  .company-tabs-drop {
    gap: 0.3125rem;
  }

  .features-tabs-drop li,
  .company-tabs-drop li {
    display: flex;
    gap: 0.9375rem;
  }

  .features-tabs-drop a,
  .company-tabs-drop a {
    text-decoration: none;
    color: var(--main-font-color);
  }

  .careers {
    padding-top: 2px;
  }

  .about {
    padding-top: 2px;
  }

  /* Styling side menu as desktop menu column navigation */
  .menu {
    top: 0;
    left: 9.375rem;
    display: flex;
    flex-direction: column;
    height: auto;
    width: 85%;
    padding-top: 1.375rem;
  }

  nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0;
  }

  ul {
    display: flex;
    gap: 2.5rem;
  }

  .features,
  .company {
    display: inline-block;
    max-width: 100px;
  }

  /* Removing open and close mobile view menu buttons */
  .close,
  .open {
    display: none;
  }

  /*Breaking heading after word 'Make' */
  span {
    display: inline-block;
  }

  /* Creating grid for text and image */
  main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    padding-left: 10.3125rem;
    padding-right: 8.125rem;
    gap: 7.8125rem;
  }

  .background-image {
    display: grid;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
    order: 2;
    background-image: url(/images//image-hero-desktop.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    max-width: 460px;
    height: 640px;
    margin-bottom: 3.125rem;
  }

  .text {
    display: grid;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
  }

  /* Styling text part and form */
  .info {
    max-width: 10.1875rem;
    padding: 0 1.75rem;
    margin-bottom: 3rem;
    height: 3.5rem;
    line-height: 3.5rem;
  }

  .info:hover {
    color: var(--header-font-color);
    background-color: #ffffff;
    border: 1px solid var(--header-font-color);
    border-radius: 15px;
  }

  .form {
    padding-top: 1rem;
  }

  .login {
    display: inline;
    padding-left: 2.5rem;
    padding-top: 2px;
  }

  .register {
    border: 0;
    padding: 0.8125rem 23px;
    margin-left: 2.5rem;
    border: 1.5px solid var(--main-font-color);
    border-radius: 0.875rem;
    color: var(--main-font-color);
  }

  .register:hover {
    border: 1.5px solid var(--header-font-color);
    color: var(--header-font-color);
  }
}

@media (min-width: 1508px) {
  .background-image {
    margin-top: -80px;
  }
}
