html,
body {
  font-family: "Epilogue", "San-serif";
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.toggle {
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

* {
  box-sizing: border-box;
}

h1 {
  color: #151515;
  font-size: 2.25rem;
  line-height: 2.625rem;
  letter-spacing: -0.5px;
  font-weight: 700;
  margin-bottom: 16px;
}

p {
  color: #686868;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  padding: 1rem;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.hero {
  max-width: 100%;
  height: auto;
  display: block;
}

.text {
  text-align: center;
  padding: 1rem;
}

.info {
  display: inline-block;
  padding: 0.75rem 1.375rem;
  background-color: #151515;
  color: #fafafa;
  border-radius: 0.9375rem;
  text-decoration: none;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.logos {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
}

.column {
  padding: 5px;
}

li {
  list-style: none;
}

.menu {
  background-color: #ffffff;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  z-index: 99;
  width: 64%;
  display: none;
}

.close {
  position: absolute;
  right: 0;
  padding: 1.25rem;
}

/* Menu */
nav {
  padding-top: 4.375rem;
}

.menu a {
  text-decoration: none;
  color: #686868;
  font-size: 1rem;
  line-height: 1.625rem;
  font-weight: 500;
}

li {
  padding-bottom: 1rem;
}

/* Menu links */
.features > a,
.company > a {
  display: inline-block;
  padding-bottom: 1.5rem;
}

/* Aligning features tabs icons and links */
.features-tabs li {
  display: flex;
  gap: 15px;
}

/* Correcting features icons */
ul img {
  align-self: center;
}

/* Spacing */
.features div,
.company div {
  display: flex;
  gap: 1rem;
  padding-bottom: 1;
}

/* Spacing only in active state, so there are no extra spaces in inactive state */
.features-tabs li:nth-child(1),
.company-tabs li:nth-child(1) {
  padding-top: 1.5rem;
}

/* Styles for JS to make tabs open and close + arrows rotation */
.features-tabs,
.company-tabs {
  display: none;
}

.features-tabs-open {
  display: block;
}

.company-tabs-open {
  display: block;
}

.arrow-features-active,
.arrow-company-active {
  transform: rotate(180deg);
}

/* Styling login and register buttons */
.form {
  text-align: center;
}

.form {
  padding-bottom: 1rem;
}

.register {
  padding: 0.8125rem 2.625rem;
  border: 1px solid #686868;
  border-radius: 0.9375rem;
}
